" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=8
set number relativenumber
set idearefactormode=keep
set ideajoin
set sneak
set quickscope
set incsearch

let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'

" --- Custom key mappings ---
" Todo
" map x <leader>p \_dP
"map <leader>v "_dP
nmap n nzzzv
nmap N Nzzzv
map <leader>y "+y
map <leader>p "+p

" Git
map <leader>gm <Action>(Git.Menu)
map <leader>gf <Action>(Git.Fetch)
map <leader>gp <Action>(Git.Pull)
map <leader>gb <Action>(Git.Branches)
map <leader>gn <Action>(GitNewBranchAction)
map <leader>gk <Action>(Vcs.Push)

" Code Actions
map <leader>ce <Action>(ShowHoverInfo)
map <leader>ci <Action>(ParameterInfo)
map <leader>cd <Action>(ShowErrorDescription)
map <leader>cr <action>(ReformatCode)
map <leader>cl <action>(ReSharperGotoNextErrorInSolution)
map <leader>ch <action>(ReSharperGotoNextErrorInSolution)

" Tab Navigation
map <leader>l <Action>(NextTab)
map <leader>h <Action>(PreviousTab)

" Intellij Navigation
map <leader><leader> <action>(FindInPath)
